<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GetVendas{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <nav class="navbar">
            <h1 class="logo">GetVendas</h1>
            <div class="nav-links">
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}" class="btn">Começar</a>
                <a href="{% url 'logout' %}" class="btn">Sair</a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© {{ now|date:"Y" }} GetVendas </p>
    </footer>

</body>
</html>
